@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: rgb(0, 56, 168);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    background-color: rgb(206, 17, 38);
    font-size: 1.2rem;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    color: rgb(252, 209, 22);
    cursor: pointer;
    font-family: "Lato", sans-serif;
}

.btn:hover {
    opacity: 0.8;
}